In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from tqdm.notebook import tqdm

In [7]:
fresh_query = """
SELECT from_npi, to_npi, patient_count, ProviderFirstName AS from_npi_First_Name, [ProviderLastName(LegalName)] AS from_npi_Last_Name, [ProviderOrganizationName(LegalBusinessName)] AS from_npi_Facility_Name, HealthcareProviderTaxonomyCode AS from_npi_HealthcareProviderTaxonomyCode, ProviderBusinessPracticeLocationAddressCityName AS from_npi_ProviderBusinessPracticeLocationAddressCityName 
FROM hop
INNER JOIN [nppes]
ON from_npi = NPI
WHERE ProviderBusinessPracticeLocationAddressStateName = 'TN' AND HealthcareProviderPrimaryTaxonomySwitch = 'Y' AND ProviderBusinessPracticeLocationAddressCityName = 'NASHVILLE';
"""

with sqlite3.connect('NPPES_Data_Dissemination.sqlite') as db: 
    from_npi_elements = pd.read_sql(fresh_query, db)
    
from_npi_elements

,from_npi,to_npi,patient_count,from_npi_First_Name,from_npi_Last_Name,from_npi_Facility_Name,from_npi_HealthcareProviderTaxonomyCode,from_npi_ProviderBusinessPracticeLocationAddressCityName
0,1922001957,1295726032,81,RICHARD,PRESLEY,None,207V00000X,NASHVILLE
1,1922001957,1578584199,129,RICHARD,PRESLEY,None,207V00000X,NASHVILLE
2,1154324192,1295726032,110,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE
3,1154324192,1578584199,202,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE
4,1235132408,1093741464,112,LEWIS,BELLARDO,None,207V00000X,NASHVILLE
...,...,...,...,...,...,...,...,...
135917,1104850130,1649228735,52,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135918,1104850130,1700878360,85,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135919,1104850130,1811955917,59,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135920,1104850130,1861479545,217,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135921,1104850130,1922039346,912,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE

In [ ]:
fresh_query = """
SELECT from_npi, to_npi, patient_count
FROM hop
INNER JOIN [nppes]
ON from_npi = NPI
WHERE ProviderBusinessPracticeLocationAddressStateName = 'TN' AND HealthcareProviderPrimaryTaxonomySwitch = 'Y' AND ProviderBusinessPracticeLocationAddressCityName = 'NASHVILLE';
"""

with sqlite3.connect('NPPES_Data_Dissemination.sqlite') as db: 
    fresh_table = pd.read_sql(fresh_query, db)
    
fresh_table

In [5]:
fresh_table.to_csv('fresh_table.csv')

In [5]:
fresh_table

          from_npi      to_npi  patient_count
0       1922001957  1295726032             81
1       1922001957  1578584199            129
2       1154324192  1295726032            110
3       1154324192  1578584199            202
4       1235132408  1093741464            112
...            ...         ...            ...
135917  1104850130  1649228735             52
135918  1104850130  1700878360             85
135919  1104850130  1811955917             59
135920  1104850130  1861479545            217
135921  1104850130  1922039346            912

[135922 rows x 3 columns]

In [8]:
fresh_query = """
SELECT from_npi, to_npi, patient_count, ProviderFirstName AS to_npi_First_Name, [ProviderLastName(LegalName)] AS to_npi_Last_Name, [ProviderOrganizationName(LegalBusinessName)] AS to_npi_Facility_Name, HealthcareProviderTaxonomyCode AS to_npi_HealthcareProviderTaxonomyCode, ProviderBusinessPracticeLocationAddressCityName AS to_npi_ProviderBusinessPracticeLocationAddressCityName 
FROM hop
INNER JOIN [nppes]
ON to_npi = NPI
WHERE ProviderBusinessPracticeLocationAddressStateName = 'TN' AND HealthcareProviderPrimaryTaxonomySwitch = 'Y' AND ProviderBusinessPracticeLocationAddressCityName = 'NASHVILLE';
"""

with sqlite3.connect('NPPES_Data_Dissemination.sqlite') as db: 
    to_npi_elements = pd.read_sql(fresh_query, db)
    
to_npi_elements

,from_npi,to_npi,patient_count,to_npi_First_Name,to_npi_Last_Name,to_npi_Facility_Name,to_npi_HealthcareProviderTaxonomyCode,to_npi_ProviderBusinessPracticeLocationAddressCityName
0,1295726032,1922001957,83,RICHARD,PRESLEY,None,207V00000X,NASHVILLE
1,1578584199,1922001957,129,RICHARD,PRESLEY,None,207V00000X,NASHVILLE
2,1093741464,1154324192,69,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE
3,1104202761,1154324192,52,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE
4,1295726032,1154324192,104,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE
...,...,...,...,...,...,...,...,...
135480,1811955917,1104850130,52,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135481,1861479545,1104850130,195,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135482,1871529982,1104850130,80,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135483,1922039346,1104850130,912,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE
135484,1922057181,1104850130,43,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE

In [4]:
neo4j_output = pd.read_csv('neo4j_fresh_table_output.csv', encoding= 'unicode_escape')

In [12]:
neo4j_output

        Ã¯Â»Â¿number  communityId
0      1003000126         4463
1      1003001066         4463
2      1003001363         2629
3      1003009176         2629
4      1003010661        15821
...           ...          ...
30811  1992987085         4435
30812  1992988257         1640
30813  1992993760         5141
30814  1992996292         4463
30815  1992998793         1640

[30816 rows x 2 columns]

In [15]:
Nashville_Hop = from_npi_elements.merge(to_npi_elements, left_on = ["from_npi", "to_npi", "patient_count"], right_on = ["from_npi", "to_npi", "patient_count"])

Nashville_Hop

,from_npi,to_npi,patient_count,from_npi_First_Name,from_npi_Last_Name,from_npi_Facility_Name,from_npi_HealthcareProviderTaxonomyCode,from_npi_ProviderBusinessPracticeLocationAddressCityName,to_npi_First_Name,to_npi_Last_Name,to_npi_Facility_Name,to_npi_HealthcareProviderTaxonomyCode,to_npi_ProviderBusinessPracticeLocationAddressCityName
0,1922001957,1578584199,129,RICHARD,PRESLEY,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE
1,1154324192,1578584199,202,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE
2,1235132408,1093826133,68,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,INNER VISION WOMENS ULTRASOUND PLC,2085R0202X,NASHVILLE
3,1235132408,1578584199,217,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE
4,1235132408,1629025648,45,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,SAINT THOMAS WEST HOSPITAL,282N00000X,NASHVILLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58761,1104850130,1629025648,55,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,SAINT THOMAS WEST HOSPITAL,282N00000X,NASHVILLE
58762,1104850130,1649228735,52,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,TENNESSEE ONCOLOGY PLLC,207RH0003X,NASHVILLE
58763,1104850130,1700878360,85,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,"NEPHROLOGY ASSOCIATES, PC",207RN0300X,NASHVILLE
58764,1104850130,1811955917,59,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,TENNESSEE ONCOLOGY PLLC,207RH0003X,NASHVILLE
58765,1104850130,1922039346,912,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,HEIKKI,KOSTAMAA,None,207W00000X,NASHVILLE

In [17]:
Nashville_Hop_from_communities = Nashville_Hop.merge(neo4j_output, left_on = "from_npi", right_on = "Ã¯Â»Â¿number")

Nashville_Hop_from_communities

,from_npi,to_npi,patient_count,from_npi_First_Name,from_npi_Last_Name,from_npi_Facility_Name,from_npi_HealthcareProviderTaxonomyCode,from_npi_ProviderBusinessPracticeLocationAddressCityName,to_npi_First_Name,to_npi_Last_Name,to_npi_Facility_Name,to_npi_HealthcareProviderTaxonomyCode,to_npi_ProviderBusinessPracticeLocationAddressCityName,Ã¯Â»Â¿number,communityId
0,1922001957,1578584199,129,RICHARD,PRESLEY,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE,1922001957,2396
1,1154324192,1578584199,202,ELIZABETH,OLDFIELD,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE,1154324192,2396
2,1235132408,1093826133,68,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,INNER VISION WOMENS ULTRASOUND PLC,2085R0202X,NASHVILLE,1235132408,2396
3,1235132408,1578584199,217,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,"TENNESSEE WOMEN'S CARE, PC",207V00000X,NASHVILLE,1235132408,2396
4,1235132408,1629025648,45,LEWIS,BELLARDO,None,207V00000X,NASHVILLE,None,None,SAINT THOMAS WEST HOSPITAL,282N00000X,NASHVILLE,1235132408,2396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58761,1104850130,1629025648,55,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,SAINT THOMAS WEST HOSPITAL,282N00000X,NASHVILLE,1104850130,2306
58762,1104850130,1649228735,52,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,TENNESSEE ONCOLOGY PLLC,207RH0003X,NASHVILLE,1104850130,2306
58763,1104850130,1700878360,85,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,"NEPHROLOGY ASSOCIATES, PC",207RN0300X,NASHVILLE,1104850130,2306
58764,1104850130,1811955917,59,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,None,None,TENNESSEE ONCOLOGY PLLC,207RH0003X,NASHVILLE,1104850130,2306
58765,1104850130,1922039346,912,None,None,HEIKKI E KOSTAMAA MD PC,207W00000X,NASHVILLE,HEIKKI,KOSTAMAA,None,207W00000X,NASHVILLE,1104850130,2306

In [ ]:

facility_query = "SELECT NPI, [ProviderOrganizationName(LegalBusinessName)], ProviderBusinessPracticeLocationAddressPostalCode, HealthcareProviderTaxonomyCode FROM [nppes] WHERE EntityTypeCode = 2 AND ProviderBusinessPracticeLocationAddressCityName = 'NASHVILLE' AND ProviderBusinessPracticeLocationAddressStateName = 'TN' AND HealthcareProviderPrimaryTaxonomySwitch = 'Y' GROUP BY NPI, 'ProviderOrganizationName(LegalBusinessName)', ProviderBusinessPracticeLocationAddressPostalCode, HealthcareProviderTaxonomyCode"
    
facility_sqlite = pd.read_sql(facility_query, db)
    
facility_sqlite

In [ ]:
provider_query = "SELECT NPI, ProviderFirstName, [ProviderLastName(LegalName)], ProviderNamePrefixText, ProviderNameSuffixText, ProviderCredentialText, HealthcareProviderTaxonomyCode FROM [NPPES] WHERE EntityTypeCode = 1 AND ProviderBusinessPracticeLocationAddressCityName = 'NASHVILLE' AND ProviderBusinessPracticeLocationAddressStateName = 'TN' AND HealthcareProviderPrimaryTaxonomySwitch = 'Y' AND HealthcareProviderTaxonomyCode NOT NULL GROUP BY NPI, NPI, ProviderFirstName, [ProviderLastName(LegalName)], ProviderNamePrefixText, ProviderNameSuffixText, ProviderCredentialText, HealthcareProviderTaxonomyCode"

provider = pd.read_sql(provider_query, db)

provider

In [ ]:
taxonomy_nucc = pd.read_csv('nucc_taxonomy_230.csv', encoding= 'unicode_escape')

In [ ]:
provider = provider.merge(taxonomy_nucc, left_on = "HealthcareProviderTaxonomyCode", right_on = "Code")
provider

In [ ]:
provider['Classification'].unique()

In [ ]:
facility = facility_sqlite.merge(taxonomy_nucc, left_on = "HealthcareProviderTaxonomyCode", right_on = "Code")
facility = facility[facility['Grouping'] == 'Hospitals']
facility

In [ ]:
provider.to_sql('provider', db, if_exists = 'replace', index = False)

In [ ]:
facility.to_sql('facility', db, if_exists = 'replace', index = False)

In [ ]:
test_query = "SELECT Classification FROM provider"
provider_test = pd.read_sql(test_query, db)

provider_test

In [ ]:
specialist_query = "SELECT hop.from_npi, hop.to_npi, hop.patient_count, hop.transaction_count, ProviderFirstName AS First_Name, [ProviderLastName(LegalName)] AS Last_Name, [ProviderOrganizationName(LegalBusinessName)] AS Hospital_Name, provider.Classification FROM provider INNER JOIN hop ON provider.NPI = hop.from_npi LEFT JOIN facility ON hop.to_npi = facility.NPI ORDER BY hop.patient_count DESC;"




specialist_test = pd.read_sql(specialist_query, db)

specialist_test

In [ ]:
specialist_test['Hospital_Name'].unique()

In [ ]:
specialist_test['Classification'].unique()

In [ ]:
Nash_NPI = specialist_test[specialist_test.Hospital_Name.isin(['HCA HEALTH SERVICES OF TENNESSEE, INC.',
       'VANDERBILT UNIVERSITY MEDICAL CENTER',
       'HTI MEMORIAL HOSPITAL CORPORATION', 'SAINT THOMAS WEST HOSPITAL',
       'NASHVILLE GENERAL HOSPITAL', "BAPTIST WOMEN'S HEALTH CENTER LLC",
       'SELECT SPECIALTY HOSPITAL - NASHVILLE LLC', 'SETON CORPORATION',
       'CURAHEALTH NASHVILLE, LLC',
       'STATE OF TENNESSEE STATE F&A PAYROLL'])]

Nash_NPI

In [ ]:
Nash_NPI_Minus_Vandy = specialist_test[specialist_test.Hospital_Name.isin(['HCA HEALTH SERVICES OF TENNESSEE, INC.',
       'HTI MEMORIAL HOSPITAL CORPORATION', 'SAINT THOMAS WEST HOSPITAL',
       'NASHVILLE GENERAL HOSPITAL', "BAPTIST WOMEN'S HEALTH CENTER LLC",
       'SELECT SPECIALTY HOSPITAL - NASHVILLE LLC', 'SETON CORPORATION',
       'CURAHEALTH NASHVILLE, LLC',
       'STATE OF TENNESSEE STATE F&A PAYROLL'])]

Nash_NPI_Minus_Vandy

In [ ]:
Vandy_NPI = specialist_test[specialist_test.Hospital_Name.isin(['VANDERBILT UNIVERSITY MEDICAL CENTER'])]

Vandy_NPI

In [ ]:
fig, ax = plt.subplots(figsize = (8,6))
g = sns.FacetGrid(Nash_NPI_Minus_Vandy, col="Last_Name")
g.map(sns.barplot(
    data = Nash_NPI_Minus_Vandy[Nash_NPI_Minus_Vandy.Classification.isin(['Family Medicine', 'Orthopaedic Surgery'])],
    x = 'Hospital_Name',
    y = 'patient_count',
    hue = 'Classification',
    ax = ax
))

In [ ]:
Nash_Ortho_Fam = Nash_NPI[Nash_NPI.Classification.isin(['Orthopaedic Surgery', 'Family Medicine'])]

In [ ]:
sns.barplot(data=gdp_df.groupby(['Continent'])['Country'].nunique().to_frame().reset_index().rename(columns = {'Country' : 'Total_Countries'}), y='Continent', x='Total_Countries', hue='Continent', dodge=False);

In [ ]:
fig, ax = plt.subplots(figsize = (8,6))

sns.barplot(
    data = Nash_NPI[Nash_NPI.Classification.isin(['Orthopaedic Surgery'])],
    x = 'Hospital_Name',
    y = 'patient_count',
    ax = ax
)
plt.xticks(rotation = 90);

In [ ]:
Nash_NPI[Nash_NPI.Classification.isin(['Family Medicine', 'Orthopaedic Surgery'])].groupby(['Hospital_Name'])['patient_count'].sum()

fig, ax = plt.subplots(figsize = (8,6))

sns.barplot(
    data = Nash_NPI[Nash_NPI.Classification.isin(['Family Medicine', 'Orthopaedic Surgery'])],
    x = 'Hospital_Name',
    y = y,
    hue = 'Classification',
    ax = ax
)
plt.xticks(rotation = 90);

In [ ]:
fig, ax = plt.subplots(figsize = (20,6))

sns.histplot(
    data = Nash_NPI[Nash_NPI.Classification.isin(['Family Medicine', 'Orthopaedic Surgery'])],
    x = 'Hospital_Name',
    y = 'patient_count',
    hue = 'Classification',
    ax = ax
)
plt.xticks(rotation = 90);

In [ ]:
Nash_Fam_Med = Nash_NPI[Nash_NPI.Classification.isin(['Orthopaedic Surgery'])]

Nash_Fam_Med['patient_count'].median()

In [ ]:
fig, ax = plt.subplots(figsize = (25,10))

sns.boxplot(
    data = Nash_NPI_Minus_Vandy[Nash_NPI_Minus_Vandy.Classification.isin(['Family Medicine', 'Orthopaedic Surgery'])],
    x = 'Last_Name',
    y = 'patient_count',
    hue = 'Classification',
    ax = ax
)
plt.xticks(rotation = 90);

In [ ]:
Nash_NPI_Minus_Vandy[Nash_NPI_Minus_Vandy['Last_Name'] == 'DEBOER']

In [ ]:
neo4j_output = pd.read_csv('neo4j_output.csv', encoding= 'unicode_escape')

In [ ]:
neo4j_output.to_sql('neo4j_output', db, if_exists = 'replace', index = False)

In [ ]:
neo4j_output.head()

In [ ]:
neo4j_output.groupby(['communityId'])['number'].count().sort_values(ascending = False).head(10)

In [ ]:
neo4j_output.groupby(['communityId'])['number'].count().sort_values(ascending = False).head(10).plot(kind = 'bar')

In [ ]:
specialist_group_id = "SELECT hop.from_npi, hop.to_npi, hop.patient_count, hop.transaction_count, ProviderFirstName AS First_Name, [ProviderLastName(LegalName)] AS Last_Name, [ProviderOrganizationName(LegalBusinessName)] AS Hospital_Name, provider.Classification, neo4j_output.communityId FROM provider INNER JOIN hop ON provider.NPI = hop.from_npi LEFT JOIN facility ON hop.to_npi = facility.NPI LEFT JOIN neo4j_output ON hop.from_npi = neo4j_output.number ORDER BY hop.patient_count DESC;"




specialist_group_id = pd.read_sql(specialist_group_id, db)

specialist_group_id

In [ ]:
specialist_group_id.groupby(['communityId', 'Classification'])['patient_count'].sum().sort_values(ascending = False).head(10).plot(kind = 'bar', color = 'orange')

In [ ]:
radiology_4384 = specialist_group_id.query('communityId == [4384] & Classification == "Internal Medicine"')

radiology_4384

In [ ]:
radiology_4384.groupby(['from_npi'])['patient_count'].sum().sort_values(ascending = False)

In [ ]:
specialist_group_id[specialist_group_id['from_npi'] == 1417131715].groupby(['from_npi'])['patient_count'].sum()

In [ ]:
specialist_group_id.query('communityId == [4413]').groupby(['from_npi'])['patient_count'].sum().sort_values(ascending = False)

In [ ]:
specialist_group_id.query('communityId == [4413] & from_npi == [1770519704]')[['Last_Name', 'First_Name']]

In [ ]:
#4454

specialist_group_id.query('communityId == [4454]').groupby(['from_npi'])['patient_count'].sum().sort_values(ascending = False)

In [ ]:
specialist_group_id.query('communityId == [4454] & from_npi == [1922091180]')

In [ ]:
#113
specialist_group_id.query('communityId == [113]').groupby(['from_npi'])['patient_count'].sum().sort_values(ascending = False)

In [ ]:
specialist_group_id.query('communityId == [113] & from_npi == [1093903544]')

In [ ]:
#4702

specialist_group_id.query('communityId == [4702]').groupby(['from_npi'])['patient_count'].sum().sort_values(ascending = False)

In [ ]:
specialist_group_id.query('communityId == [4702] & from_npi == [1306849765]')

In [ ]:
#I'm seeing that there are a lot of missing values, primarily because our decisions building the 'specialist_list' table that limits what we can determine from the exploration. I'm going to attempt to read in additional items to better fill out the 'Community ID' picture.

Community_ID = """

SELECT 




specialist_group_id = pd.read_sql(specialist_group_id, db)

specialist_group_id